* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

:root {
    --primary-white: #fff;
    --secondary-white: #f4f4f4;
    --primary-black: #232323;
    --secondary-black: #2d2d2d;
    --dark-pink: #d50a51;
}